<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalDb" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST =daffodil.lrde.com )(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = lrde)));User Id=intranetservices;Password=intranet;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="OrgName" value="LRDE" />
    <add key="AppTagline" value="IT Services Request &amp; Complaint Portal" />
    <!-- Domain used to validate typed username/password against AD, e.g. "yourdomain.local" -->
    <add key="AdDomain" value="lrde.com" />
    <add key="AdLdapPath" value="dc=lrde,dc=com" />
    <add key="SmtpHost" value="smtp.example.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpFromAddress" value="noreply@complaintsportal.local" />
    <add key="EnableEmailNotifications" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="Forms">
      <forms loginUrl="~/Common/Login.aspx" timeout="60" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  <!-- Login.aspx itself must be reachable by anonymous users, otherwise nobody can ever log in. -->
  <location path="Common/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>